<div class="section section-bg-1 pt-6 pb-8">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center-xs">
          <h3 class="heading fw-bolder white"> ویدئوها و سریال</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-right text-center-xs">
          <a class="button style-outline" href="/assets/#">
            <span class="button-text">مشاهده همه</span>
          </a>
        </div>
      </div>
      <div class="col-md-12">
        <div class="mb-4"></div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="blog-item style-2">
          <div class="post-wrapper">
            <div class="post-thumbnail">
              <a href="/assets/blog-detail.html">
                <img src="/assets/images/blog/blog_7.jpg" alt="" />
                <div class="post-overlay"></div>
                <div class="post-video-play">
                  <div class="video-button">
                    <div class="video-play">
                      <i class="ion-ios-play"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="post-info">
              <div class="post-categories">
                <a href="/assets/#" class="bg-red">ویدئو</a>
              </div>
              <h3 class="post-title">
                <a href="/assets/blog-detail.html">پوشش شاد توسط پادشاهان جاده</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item style-2">
          <div class="post-wrapper">
            <div class="post-thumbnail">
              <a href="/assets/blog-detail.html">
                <img src="/assets/images/blog/blog_8.jpg" alt="" />
                <div class="post-overlay"></div>
                <div class="post-video-play">
                  <div class="video-button">
                    <div class="video-play">
                      <i class="ion-ios-play"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="post-info">
              <div class="post-categories">
                <a href="/assets/#" class="bg-red">ویدئو</a>
              </div>
              <h3 class="post-title">
                <a href="/assets/blog-detail.html">هنر حرکت آهسته</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item style-2">
          <div class="post-wrapper">
            <div class="post-thumbnail">
              <a href="/assets/blog-detail.html">
                <img src="/assets/images/blog/blog_9.jpg" alt="" />
                <div class="post-overlay"></div>
                <div class="post-video-play">
                  <div class="video-button">
                    <div class="video-play">
                      <i class="ion-ios-play"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="post-info">
              <div class="post-categories">
                <a href="/assets/#" class="bg-red">ویدئو</a>
              </div>
              <h3 class="post-title">
                <a href="/assets/blog-detail.html">فانتوم زیر آب</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="blog-item style-2">
          <div class="post-wrapper">
            <div class="post-thumbnail">
              <a href="/assets/blog-detail.html">
                <img src="/assets/images/blog/blog_10.jpg" alt="" />
                <div class="post-overlay"></div>
                <div class="post-video-play">
                  <div class="video-button">
                    <div class="video-play">
                      <i class="ion-ios-play"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="post-info">
              <div class="post-categories">
                <a href="/assets/#" class="bg-red">ویدئو</a>
              </div>
              <h3 class="post-title">
                <a href="/assets/blog-detail.html">گرفتن درست</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="text-center mt-2">
          <img src="/assets/images/blog_magazine_advertising_2.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
