<div id="main">
  <div class="section pt-10 pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="shop-detail-images">
            <div class="product-badges">
              <span class="hot">داغ</span>
              <span class="onsale">فروشی</span>
            </div>
            <div class="shop-detail-image-carousel dots-carousel" data-auto-play="true" data-desktop="1" data-laptop="1" data-tablet="1" data-mobile="1">
              <div class="text-center">
                <img [src]="ProductImagePath + ProductItem.image" alt="" />
              </div>


              <div class="text-center" *ngFor="let gallery of ProductGalleries">
                <img [src]="ProductGalleryImagePath + gallery.image" alt="" />
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="shop-summary">
            <h2 class="product-title">{{ProductItem.productName}}</h2>
            <div class="product-rating">
              <div class="star-rating">
                <span style="width:100%"></span>
              </div>
              <a href="#" class="review-link">(<span class="count">3</span> بررسی مشتری)</a>
            </div>
            <div class="price">{{ProductItem.price}} تومان </div>
            <div class="short-description">
              {{ProductItem.shortDescription}}
            </div>
            <div class="commerce-add-to-cart">
              <div class="quantity-button-wrapper">
                <label>مقدار</label>
                <div class="quantity">
                  <button class="increase" (click)="AddCount()" type="button"><span class="ion-arrow-up-b"></span></button>
                  <input disabled [(ngModel)]="ProductCount"  type="text"  value="1" class="input-text qty text" size="4" />
                  <button class="decrease" (click)="MinusCount()" type="button"><span class="ion-arrow-down-b"></span></button>
                </div>
              </div>
              <div class="product-actions">
                <button (click)="AddProductToOrder()" type="submit" class="button style-flat">افزودن به سبد خرید</button>
                <div class="product-action hint--top hint--bounce" aria-label="افزودن به لیست دلخواه">
                  <a href="#" class="add_to_wishlist">افزودن به لیست دلخواه</a>
                </div>
                <div class="product-action compare-btn hint--bounce hint--top" aria-label="مقایسه">
                  <a href="#" class="compare"></a>
                </div>
              </div>
            </div>
            <div class="product-meta-wrap">
              <div class="product-meta">
                <div class="posted_in meta-item">
                  <h6>دسته بندی:</h6><a href="#">سخنرانان</a>
                </div>
                <div class="tagged_as meta-item">
                  <h6>برچسب:</h6><a href="#">کلاسیک</a>
                </div>
                <div class="product-share meta-item">
                  <h6>اشتراک:</h6>
                  <div class="product-sharing-list">
                    <a class="hint--bounce hint--top facebook" target="_blank" aria-label="فیسبوک" href="#"><i class="ion-social-facebook"></i></a>
                    <a class="hint--bounce hint--top twitter" target="_blank" aria-label="توییتر" href="#"><i class="ion-social-twitter"></i></a>
                    <a class="hint--bounce hint--top google-plus" target="_blank" aria-label="گوگل+" href="#"><i class="ion-social-googleplus"></i></a>
                    <a class="hint--bounce hint--top tumblr" target="_blank" aria-label="تامبلر" href="#"><i class="ion-social-tumblr"></i></a>
                    <a class="hint--bounce hint--top linkedin" target="_blank" aria-label="لینکداین" href="#"><i class="ion-social-linkedin"></i></a>
                    <a class="hint--bounce hint--top email" target="_blank" aria-label="ایمیل" href="mailto:email@domain.com"><i class="ion-android-mail"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 p-0">
          <div class="commerce-tab tabs mb-4">
            <!-- Nav tabs -->
              <mat-tab-group class="align-items-center" animationDuration="0ms">
                <mat-tab label="مشخصات محصول">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-8 offset-lg-2">
                        {{ProductItem.description}}
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="نظرات کاربران">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-8 offset-lg-2">
                        <div id="comments" class="comments-area row">
                          <h2 class="comments-title">
                            نظرات <span class="comment-count">({{ProductComments.length}})</span>
                          </h2>
                          <div *ngIf="ProductComments.length <= 0 " class="alert alert-warning" role="alert">
                            برای این محصول نظری ثبت نشده
                          </div>
                          <div class="comment-list-wrap">
                            <ol class="comment-list">

                              <li *ngFor="let comment of ProductComments" class="comment">
                                <div class="comment-author vcard">
                                  <img alt="" src="/assets/images/avatar/avatar_2.jpg" class="avatar" height="60" width="60" />
                                </div>
                                <div class="comment-content">
                                  <div class="comment-header">
                                    <h6>{{comment.userFullName}}</h6>
                                    <div class="comment-datetime">{{comment.createDate    }}</div>
                                  </div>
                                  <div class="comment-text">
                                      {{comment.commentText}}
                                  </div>
                                </div>
                              </li>

                            </ol>
                          </div>
                          <div class="comment-form-wrap">
                            <div *ngIf="!CurrentUser" class="alert alert-warning text-center" role="alert">
                             کاربر گرامی برای ثبت نظرات باید ابتدا وارد حساب کاربری خود شوید
                              <br>
                              <p class="text-center">
                                <a [routerLink]="'/login'">ورود به حساب کاربری</a>
                              </p>
                            </div>
                            <div *ngIf="CurrentUser" id="respond" class="comment-respond">
                              <h3 class="comment-reply-title">نظر خود را اینجا بنویسید</h3>
                              <form [formGroup]="CommentForm" (ngSubmit)="AddComment()" class="comment-form row">
                                <div class="comment-form-comment">
                                  <textarea formControlName="commentText" id="comment" placeholder="نظر شما" name="comment"></textarea>
                                </div>
                                <div class="form-submit">
                                  <button [disabled]="CommentForm.invalid"  type="submit"  class="btn btn-primary">ثبت نظر</button>
                                </div>
                              </form>
                            </div><!-- #respond -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>

          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="related-products">
            <h2>محصولات مرتبط</h2>
            <div class="row">

              <app-single-product *ngFor="let item of RelatedProducts" class="col-sm-4"  [product]="item"></app-single-product>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
