<div class="section pb-6">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="blog-carousel navi-carousel" data-auto-play="true" data-desktop="1" data-laptop="1" data-tablet="1" data-mobile="1">
          <div class="post-item">
            <div class="post-wrapper">
              <div class="post-thumbnail">
                <a href="/assets/blog-detail.html">
                  <img src="/assets/images/blog/slider/blog_1.jpg" alt="" />
                </a>
              </div>
              <div class="post-info">
                <div class="post-categories">
                  <a href="/assets/#" class="bg-purple">جشنواره ها</a>
                  <a href="/assets/#" class="bg-green">سفر</a>
                </div>
                <h3 class="post-title">
                  <a href="/assets/blog-detail.html">چگونه به ساخت استارت آپ کسب و کار از ابتدا</a>
                </h3>
                <div class="post-meta">
                  <div class="post-view meta-item">
                    <i class="ion-eye"></i>
                    20 مشاهده
                  </div>
                  <div class="post-likes meta-item">
                    <i class="ion-android-favorite-outline"></i>
                    1 لایک
                  </div>
                  <div class="post-author-meta meta-item">
                    <i class="ion-ios-person"></i>
                    <a href="/assets/#" class="white">آرش خادملو</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-item">
            <div class="post-wrapper">
              <div class="post-thumbnail">
                <a href="/assets/blog-detail.html">
                  <img src="/assets/images/blog/slider/blog_2.jpg" alt="" />
                </a>
              </div>
              <div class="post-info">
                <div class="post-categories">
                  <a href="/assets/#" class="bg-green">سفر</a>
                </div>
                <h3 class="post-title">
                  <a href="/assets/blog-detail.html">چگونه نگرش شما را در لحظات لحظه ای بهبود دهیم</a>
                </h3>
                <div class="post-meta">
                  <div class="post-view meta-item">
                    <i class="ion-eye"></i>
                    32 مشاهده
                  </div>
                  <div class="post-likes meta-item">
                    <i class="ion-android-favorite-outline"></i>
                    3 لایک
                  </div>
                  <div class="post-author-meta meta-item">
                    <i class="ion-ios-person"></i>
                    <a href="/assets/#" class="white">آرش خادملو</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-item">
            <div class="post-wrapper">
              <div class="post-thumbnail">
                <a href="/assets/blog-detail.html">
                  <img src="/assets/images/blog/slider/blog_3.jpg" alt="" />
                </a>
              </div>
              <div class="post-info">
                <div class="post-categories">
                  <a href="/assets/#" class="bg-red">کسب و کار</a>
                  <a href="/assets/#" class="bg-emerald">عکاسی</a>
                </div>
                <h3 class="post-title">
                  <a href="/assets/blog-detail.html">بهترین تبلیغات در جیب شما را بدست آورید</a>
                </h3>
                <div class="post-meta">
                  <div class="post-view meta-item">
                    <i class="ion-eye"></i>
                    20 مشاهده
                  </div>
                  <div class="post-likes meta-item">
                    <i class="ion-android-favorite-outline"></i>
                    1 لایک
                  </div>
                  <div class="post-author-meta meta-item">
                    <i class="ion-ios-person"></i>
                    <a href="/assets/#" class="white">آرش خادملو</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
