<div class="section pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="text-center-xs">
          <h3 class="heading fw-bolder"> داغترین چیزها هم اکنون</h3>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-right text-center-xs">
          <a class="button style-outline" href="/assets/#">
            <span class="button-text">مشاهده همه</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section pb-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="blog-item style-1">
          <div class="post-wrapper">
            <div class="post-thumbnail">
              <a href="/assets/blog-detail.html">
                <img src="/assets/images/blog/blog_1.jpg" alt="" />
              </a>
            </div>
            <div class="post-info">
              <div class="post-categories">
                <a href="/assets/#" class="bg-red">کسب و کار</a>
                <a href="/assets/#" class="bg-emerald">عکاسی</a>
              </div>
              <h3 class="post-title">
                <a href="/assets/blog-detail.html">بهترین تبلیغات در جیب شما را بدست آورید</a>
              </h3>
              <div class="post-meta">
                <div class="post-view meta-item">
                  <i class="ion-eye"></i>
                  32 مشاهده
                </div>
                <div class="post-likes meta-item">
                  <i class="ion-android-favorite-outline"></i>
                  3 لایک
                </div>
                <div class="post-author-meta meta-item">
                  <i class="ion-ios-person"></i>
                  آرش خادملو
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item style-1">
          <div class="post-wrapper">
            <div class="post-thumbnail">
              <a href="/assets/blog-detail.html">
                <img src="/assets/images/blog/blog_2.jpg" alt="" />
              </a>
            </div>
            <div class="post-info">
              <div class="post-categories">
                <a href="/assets/#" class="bg-green">کسب و کار</a>
              </div>
              <h3 class="post-title">
                <a href="/assets/blog-detail.html">چگونه نگرش شما را در لحظات لحظه ای بهبود دهیم</a>
              </h3>
              <div class="post-meta">
                <div class="post-view meta-item">
                  <i class="ion-eye"></i>
                  28 مشاهده
                </div>
                <div class="post-likes meta-item">
                  <i class="ion-android-favorite-outline"></i>
                  1 لایک
                </div>
                <div class="post-author-meta meta-item">
                  <i class="ion-ios-person"></i>
                  آرش خادملو
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item style-1">
          <div class="post-wrapper">
            <div class="post-thumbnail">
              <a href="/assets/blog-detail.html">
                <img src="/assets/images/blog/blog_3.jpg" alt="" />
              </a>
            </div>
            <div class="post-info">
              <div class="post-categories">
                <a href="/assets/#" class="bg-yellow">مد روز</a>
              </div>
              <h3 class="post-title">
                <a href="/assets/blog-detail.html">سرمایه گذاری یک استارت آپ: منافع و موانع</a>
              </h3>
              <div class="post-meta">
                <div class="post-view meta-item">
                  <i class="ion-eye"></i>
                  15 مشاهده
                </div>
                <div class="post-likes meta-item">
                  <i class="ion-android-favorite-outline"></i>
                  3 لایک
                </div>
                <div class="post-author-meta meta-item">
                  <i class="ion-ios-person"></i>
                  آرش خادملو
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item style-1">
          <div class="post-wrapper">
            <div class="post-thumbnail">
              <a href="/assets/blog-detail.html">
                <img src="/assets/images/blog/blog_4.jpg" alt="" />
              </a>
            </div>
            <div class="post-info">
              <div class="post-categories">
                <a href="/assets/#" class="bg-orange">طراحی</a>
              </div>
              <h3 class="post-title">
                <a href="/assets/blog-detail.html">5 نشانه شما باید برای خودتان کار کنید</a>
              </h3>
              <div class="post-meta">
                <div class="post-view meta-item">
                  <i class="ion-eye"></i>
                  18 مشاهده
                </div>
                <div class="post-likes meta-item">
                  <i class="ion-android-favorite-outline"></i>
                  3 لایک
                </div>
                <div class="post-author-meta meta-item">
                  <i class="ion-ios-person"></i>
                  آرش خادملو
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item style-1">
          <div class="post-wrapper">
            <div class="post-thumbnail">
              <a href="/assets/blog-detail.html">
                <img src="/assets/images/blog/blog_5.jpg" alt="" />
              </a>
            </div>
            <div class="post-info">
              <div class="post-categories">
                <a href="/assets/#" class="bg-purple">سبک زندگی</a>
              </div>
              <h3 class="post-title">
                <a href="/assets/blog-detail.html">بهترین تلفن های کنفرانس برای کسب و کارهای کوچک در بودجه</a>
              </h3>
              <div class="post-meta">
                <div class="post-view meta-item">
                  <i class="ion-eye"></i>
                  23 مشاهده
                </div>
                <div class="post-likes meta-item">
                  <i class="ion-android-favorite-outline"></i>
                  2 لایک
                </div>
                <div class="post-author-meta meta-item">
                  <i class="ion-ios-person"></i>
                  آرش خادملو
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="blog-item style-1">
          <div class="post-wrapper">
            <div class="post-thumbnail">
              <a href="/assets/blog-detail.html">
                <img src="/assets/images/blog/blog_6.jpg" alt="" />
              </a>
            </div>
            <div class="post-info">
              <div class="post-categories">
                <a href="/assets/#" class="bg-yellow">مد روز</a>
              </div>
              <h3 class="post-title">
                <a href="/assets/blog-detail.html">3 استراتژی فروش و رشد تجارت الکترونیک</a>
              </h3>
              <div class="post-meta">
                <div class="post-view meta-item">
                  <i class="ion-eye"></i>
                  23 مشاهده
                </div>
                <div class="post-likes meta-item">
                  <i class="ion-android-favorite-outline"></i>
                  2 لایک
                </div>
                <div class="post-author-meta meta-item">
                  <i class="ion-ios-person"></i>
                  آرش خادملو
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section pb-6">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <img src="/assets/images/blog_magazine_advertising.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
