<div id="main">
  <div class="section pt-10 pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-center">فرم ورود</h2>
          <div *ngIf="NewRegisterStatus" class="alert alert-success" role="alert">
            <h4 class="alert-heading">با تشکر از ثبت نام شما</h4>
            <p>کاربر گرامی{{UsernameText}} ثبت نام شما با موفقیت انجام شد</p>
            <hr>
            <p class="mb-0">با وارد کردن نام کاربری و رمز عبور خود در همین صفحه میتوانید وارد حساب خود شوید</p>
          </div>
          <form class="commerce-form-login">
            <div class="form-item">
              <label for="username">نام کاربری یا آدرس ایمیل <span class="required">*</span></label>
              <input type="text" class="form-text" name="username" id="username" value="" />
            </div>
            <div class="form-item">
              <label for="password">رمزعبور <span class="required">*</span></label>
              <input class="form-text" type="password" name="password" id="password" />
            </div>
            <div class="form-item">
              <input class="form-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>مرا به خاطر بسپار</span>
            </div>
            <div class="form-item row justify-content-center">
              <button type="submit" class="button style-flat col-sm-6" name="login" value="Login">ورود</button>
            </div>
            <div class="form-item row justify-content-center">
              <a class="col-sm-6 text-center" routerLink="register">رمز عبور خود را فراموش کرده اید؟</a>
            </div>
            <div class="form-item row justify-content-center">
              <a class="col-sm-6 text-center" routerLink="/register">ثبت حساب کاربری!</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
