<div id="main">
  <div class="section pt-10 pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="text-center">فرم ورود</h2>
          <div *ngIf="NewRegisterStatus" class="alert alert-warning" role="alert">
            <h4 class="alert-heading">با تشکر از ثبت نام شما</h4>
            <p>کاربر گرامی{{UsernameText}} ثبت نام شما با موفقیت انجام شد</p>
            <hr>
            <p class="mb-0">جهت فعالسازی حساب خود ابتدا ایمیل فعال سازی خود را تایید کنید و سپس وارد سایت شوید</p>
            <p class="mb-0">اگر ایمیل فعالسازی را دریافت نکرده اینجا کلیک کنید ..</p>
          </div>
          <div *ngIf="ActivatedAccount" class="alert alert-success" role="alert">
            <h4 class="alert-heading">عملیات فعال سازی با موفقیت انجام شد</h4>
            <p>کاربر گرامی حساب شما با موفقیت فعال سازی شد میتوانید از همین صفحه وارد حساب خود شوید</p>
            <hr>
            <p class="mb-0"></p>
            <p class="mb-0"></p>
          </div>
          <form [formGroup]="LoginForm" (ngSubmit)="SubmitLoginForm()" class="commerce-form-login">
            <div class="form-item">
              <label for="username">نام کاربری یا آدرس ایمیل <span class="required">*</span></label>
              <input formControlName="Email" type="text" class="form-text form-control" name="username" id="username" value="" />
              <li *ngIf="LoginForm.controls.Email.errors?.required && LoginForm.controls.Email.touched" class="text-danger" >
                لطفا ایمیل خود را وارد کنید
              </li>
              <li *ngIf="LoginForm.controls.Email.errors?.maxlength && LoginForm.controls.Email.touched" class="text-danger" >
                تعداد کارراکتر های مجاز این فیلد 100 میباشد
              </li>
              <li *ngIf="LoginForm.controls.Email.errors?.email && LoginForm.controls.Email.touched" class="text-danger" >
                فرمت ایمیل وارد شده صحیح نمیباشد
              </li>
            </div>
            <div class="form-item">
              <label for="password">رمزعبور <span class="required">*</span></label>
              <input formControlName="Password" class="form-text form-control" type="password" name="password" id="password" />
              <li *ngIf="LoginForm.controls.Password.errors?.required && LoginForm.controls.Password.touched" class="text-danger" >
                لطفا رمز عبور خود را وارد کنید
              </li>
              <li *ngIf="(LoginForm.controls.Password.errors?.maxlength && LoginForm.controls.Password.touched) ||
                    (LoginForm.controls.Password.errors?.minlength && LoginForm.controls.Password.touched)" class="text-danger" >
                تعداد کاراکتر های مجاز برای رمز عبور : حد اقل 4 کاراکتر و حد اکثر 15 کاراکتر میباشد
              </li>
            </div>
            <div class="form-item">
              <input formControlName="RememberMe" class="form-checkbox" type="checkbox" id="rememberme" value="false"> <label for="rememberme">مرا به خاطر بسپار</label>
            </div>
            <div class="form-item row justify-content-center">
              <button [disabled]="LoginForm.invalid" type="submit" class="btn btn-primary col-sm-6" name="login" value="Login">ورود</button>
            </div>
            <div class="form-item row justify-content-center">
              <a class="col-sm-6 text-center" routerLink="register">رمز عبور خود را فراموش کرده اید؟</a>
            </div>
            <div class="form-item row justify-content-center">
              <a class="col-sm-6 text-center" routerLink="/register">ثبت حساب کاربری!</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<swal
  #WrongData
  title="خطا"
  text="اطلاعات وارد شده صحیح نمیباشد لطفا مجددا تلاش کنید"
  icon="error"
  confirmButtonText="تایید"
  [showConfirmButton]="true"
  [timer]="8000">
</swal>

<swal
  #NotActivated
  title="توجه!"
  text="حساب کاربری شما فعال نیست لطفا نسبت به فعال سازی حساب خود اقدام کنید"
  icon="warning"
  confirmButtonText="تایید"
  [showConfirmButton]="true"
  [timer]="8000">
</swal>

<swal
  #SuccessSwal
  title="تبریک!"
  text="ثبت نام شما با موفقیت در سایت انجام شد"
  icon="success"
  confirmButtonText="تایید"
  [showConfirmButton]="true"
  [timer]="5000">
</swal>
