<div id="main">
  <div class="section pt-10 pb-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>ورود</h2>
          <form class="commerce-form-login">
            <div class="form-item">
              <label for="username">نام کاربری یا آدرس ایمیل <span class="required">*</span></label>
              <input type="text" class="form-text" name="username" id="username" value="" />
            </div>
            <div class="form-item">
              <label for="password">رمزعبور <span class="required">*</span></label>
              <input class="form-text" type="password" name="password" id="password" />
            </div>
            <div class="form-item">
              <button type="submit" class="button style-flat" name="login" value="Login">ورود</button>
              <input class="form-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>مرا به خاطر بسپار</span>
            </div>
            <div class="form-item">
              <a href="#">رمز عبور خود را فراموش کرده اید؟</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

