<div id="mini-cart" class="mini-cart" >
  <div class="mini-cart__button" title="View your shopping cart">
    <span *ngIf="details && details.length > 0" class="mini-cart-icon"></span>
  </div>
  <div class="widget_shopping_cart_content" *ngIf="details && details.length > 0">
    <ul class="cart-list">
      <li class="mini-cart-item" *ngFor="let item of details">
        <a (click)="RemoveOrderDetail(item.id)" class="remove"><span class="ion-ios-trash-outline"></span></a>
        <a href="shop-detail.html">
          <img width="150" height="150" [src]="item.image" alt="" />
          {{item.title}}
        </a>
        <span class="quantity">{{item.count}} × <span class="price">{{item.price}} تومان</span></span>
      </li>

    </ul><!-- end product list -->
    <div class="cart-footer">
      <div class="total">
        <strong>مجموع:</strong>
        <span class="amount">{{totalCost}} تومان</span>
      </div>
      <div class="buttons">
        <a href="cart.html" class="button style-flat">برو به سبد خرید</a>
      </div>

    </div>
  </div>
</div>
