<div id="main" class="container-fluid">
  <h3 class="heading fw-bolder text-center">پنل کاربری</h3>
  <div class="row m-2">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              اطلاعات حساب کاربری
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row justify-content-center">
            <form [formGroup]="UserInfoForm" (ngSubmit)="SubmitLoginForm()" class="commerce-form-login col-sm-8">
              <div class="form-item">
                <label for="username">نام کاربری <span class="required">*</span></label>
                <input formControlName="Email" type="text" class="form-text form-control" name="username" id="username"/>
              </div>
              <div class="form-item">
                <label for="username">نام <span class="required">*</span></label>
                <input formControlName="FirstName" type="text" class="form-text form-control" name="username" id="username"/>
              </div>
              <div class="form-item">
                <label for="username">نام خانوادگی<span class="required">*</span></label>
                <input formControlName="LastName" type="text" class="form-text form-control" name="username" id="username"/>
              </div>
              <div class="form-item">
                <label for="username">سن <span class="required">*</span></label>
                <input formControlName="Age" type="text" class="form-text form-control" name="username" id="username"/>
              </div>
              <div class="form-item">
                <label for="username">درباره شما<span class="required">*</span></label>
                <input formControlName="Bio" type="text" class="form-text form-control" name="username" id="username"/>
              </div>
              <div class="form-item">
                <label for="username">شماره تلفن همراه<span class="required">*</span></label>
                <input formControlName="MobileNumber" type="text" class="form-text form-control" name="username" id="username"/>
              </div>




              <div class="form-item row justify-content-center">
                <button [disabled]="UserInfoForm.invalid" type="submit" class="btn btn-primary col-sm-6" name="login" value="Login">ورود</button>
              </div>

            </form>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              اطلاعات سبد خرید
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
          </mat-expansion-panel-header>
          <h2>سبد خرید</h2>

        </mat-expansion-panel>
      </mat-accordion>
  </div>

</div>

