<div id="main">
  <div class="section pt-11 pb-12">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="box-icon style-14">
            <div class="content-wrap">
              <div class="content">
                <div class="box-header">
                  <div class="icon">
                    <i class="ion-map"></i>
                  </div>
                  <h4 class="heading">آدرس</h4>
                </div>
                <div class="text">خیابان ازادی کوچه دوم پلاک 9</div>
              </div>
            </div>
          </div>
          <div class="box-icon style-14">
            <div class="content-wrap">
              <div class="content">
                <div class="box-header">
                  <div class="icon">
                    <i class="ion-iphone"></i>
                  </div>
                  <h4 class="heading">تلفن</h4>
                </div>
                <div class="text">موبایل: (+88) 090 1900 - 6886<br />خط تلفن: 1800 6886</div>
              </div>
            </div>
          </div>
          <div class="box-icon style-14">
            <div class="content-wrap">
              <div class="content">
                <div class="box-header">
                  <div class="icon">
                    <i class="ion-email"></i>
                  </div>
                  <h4 class="heading">ایمیل</h4>
                </div>
                <div class="text">support@atomlab.com<br />contact@atomlab.com</div>
              </div>
            </div>
          </div>
          <ul class="social-networks mb-5">
            <li class="item">
              <a href="#" target="_blank" aria-label="توییتر" class="link">
                <i class="ion-social-twitter link-icon"></i>
              </a>
            </li>
            <li class="item">
              <a href="#" target="_blank" aria-label="فیسبوک" class="link">
                <i class="ion-social-facebook link-icon"></i>
              </a>
            </li>
            <li class="item">
              <a href="#" target="_blank" aria-label="گوگل+" class="link">
                <i class="ion-social-googleplus link-icon"></i>
              </a>
            </li>
            <li class="item">
              <a href="#" target="_blank" aria-label="لینکداین" class="link">
                <i class="ion-social-linkedin link-icon"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8 offset-lg-1">
          <h3 class="heading fz-56 mb-5"> در تماس باشید</h3>
          <form>
            <div class="row">
              <div class="col-md-6">
                <input type="text" name="your-name" value="" size="40" class="form-control mb-2" placeholder="نام *">
              </div>
              <div class="col-md-6">
                <input type="email" name="your-email" value="" size="40" class="form-control mb-2" placeholder="ایمیل *">
              </div>
              <div class="col-md-12">
                <input type="text" name="your-subject" value="" size="40" class="form-control mb-2" placeholder="موضوع">
              </div>
              <div class="col-md-12">
                <textarea name="your-message" cols="40" rows="10" class="form-textarea mb-2" placeholder="پیام"></textarea>
              </div>
              <div class="col-md-12">
                <input type="submit" value="تایید" class="form-submit button style-flat">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 p-0">

          <a href="#" class="btn-view-full-map">در تماس باشید <i class="ion-arrow-right-a btn-icon"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
