<div id="main">
  <div class="section pt-10 pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-12">
          <img src="/assets/images/about-us-02-image-01.png" alt="" />
        </div>
        <div class="col-xl-4 col-lg-12">
          <h5 class="fz-14 ls-3 fw-bolder uppercase gray mt-5 mb-3"> خوش امدید به اتم لب</h5>
          <h3 class="heading fz-56 mb-5"> تبدیل شدن به شور و شوق شما <span class="color">موفقیت!</span></h3>
          <p class="fz-24"> "ما در یک ماموریت برای ساختن آینده ای بهتر هستیم که در آن فنآوری شغلی خوب و اختراعات شگفت انگیز برای کارکنان ایجاد می کند. همانطور که فن آوری وارد دوره رشد انفجاری خود می شود، اینترنت و فن آوری های مرتبط با آن به شکل چشمگیری پرورش می یابند." </p>
          <a class="button style-text button-primary uppercase mt-5 mb-5 fz-18" href="#">بیشتر بدانید	<i class="ion-android-arrow-dropright-circle"></i></a>
          <div class="mb-10 d-none d-lg-block"></div>
        </div>
        <div class="col-xl-2"></div>
      </div>
    </div>
  </div>
</div>
