<div class=" product-item style-2 grid-item">
  <div class="product-wrapper">
    <div class="product-badges">
      <span class="onsale">-11%</span>
    </div>
    <div class="product-thumbnail">
      <div class="thumbnail">
        <a [routerLink]="'/products/' + product.id">
          <div class="product-main-image">
            <img [src]="ProductImage + product.image" alt="" />
          </div>
          <div class="product-hover-image">
            <img src="/assets/images/shop/shop_11_2.jpg" alt="" />
          </div>
        </a>
      </div>
    </div>
    <div class="product-actions">
      <div class="product-action quickview-btn hint--left hint--bounce" aria-label="مشاهده سریع">
        <a class="quickview-icon" href="ajax/product-quickview.html"></a>
      </div>
      <div class="product-action add-cart-btn hint--left hint--bounce" aria-label="افزودن به سبد خرید">
        <a href="#" class="add-to-cart">افزودن به سبد خرید</a>
      </div>
      <div class="product-action hint--bounce hint--left add-to-wishlist" aria-label="افزودن به لیست دلخواه">
        <a href="#">افزودن به لیست دلخواه</a>
      </div>
      <div class="product-action compare-btn hint--bounce hint--left" aria-label="مقایسه">
        <a href="#" class="compare"></a>
      </div>
    </div>
    <div class="product-info">
      <h2 class="product-title"><a [routerLink]="'/products/' + product.id">{{product.productName}}</a></h2>
      <div class="price">
        <del>49.00 تومان</del>
        <ins>{{product.price}} تومان</ins>
      </div>
    </div>
  </div>
</div>
