<footer class="footer footer-reveal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="widget">
          <a href="/assets/index.html" rel="home">
            <img src="/assets/images/blog-manazine-light-logo.png" alt="Atomlab" class="footer-logo" />
          </a>
          <div class="mb-2"></div>
          <p> ما در حال مأموریت برای ساختن یک آینده بهتر هستیم که در آن فنآوری شغلی برای همه ایجاد می کند.</p>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1 col-md-6">
        <div class="widget">
          <h2 class="widgettitle white">درباره ما</h2>
          <ul class="menu">
            <li><a href="/assets/#">شرکت</a></li>
            <li><a href="/assets/#">تماس با ما</a></li>
            <li><a href="/assets/#">خدمات ما</a></li>
            <li><a href="/assets/#">فرصت های شغلی</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="widget">
          <h2 class="widgettitle white">تماس با ما</h2>
          <div class="textwidget">
            <div>58 هوارد خیابان # 2 سان فرانسیسکو، شرقی 94105</div>
            <div><a href="/assets/mailto:contact@atomlab.com">contact@atomlab.com</a></div>
            <div><b>(+68)1221 09876</b></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="widget">
          <h2 class="widgettitle white">وبلاگ اخیر</h2>
          <ul class="widget-recent-entries">
            <li>
              <a href="/assets/blog-detail.html">تایپوگرافی زیبا</a>
            </li>
            <li>
              <a href="/assets/blog-detail.html">پردازش طراحی پاسخگو</a>
            </li>
            <li>
              <a href="/assets/blog-detail.html">سفر کوچولو</a>
            </li>
            <li>
              <a href="/assets/blog-detail.html">نکات عملی کار قدرتمند</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row pb-2">
      <div class="col-lg-12">
        <hr />
        <div class="mb-2"></div>
      </div>
      <div class="col-md-6">
        <p class="fz-14"> © 2019 <span class="color">آرش خادملو</span>. همه حقوق محفوظ است شرایط و حریم خصوصی.</p>
      </div>
      <div class="col-md-6">
        <div class="footer-social-networks text-right text-center-xs">
          <div class="inner">
            <a class="hint--bounce hint--top" aria-label="Facebook" href="/assets/https://facebook.com/" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="hint--bounce hint--top" aria-label="Twitter" href="/assets/https://twitter.com/" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="hint--bounce hint--top" aria-label="Instagram" href="/assets/https://www.instagram.com/" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="hint--bounce hint--top" aria-label="Dribbble" href="/assets/https://www.dribbble.com/" target="_blank">
              <i class="fa fa-dribbble"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
